O objetivo deste exercício é mostrar como cria uma sessão do Pyspark, criar um DataFrame a partir de uma lista de nomes e realizar algumas operações básicas.

Certifique-se que o Pyspark está instalado. Você pode instalar usando o pip:

In [ ]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

Importando bibliotecas necessárias : Pyspark

In [ ]:
from pyspark.sql import SparkSession

Criar uma sessão do Spark é necessário, pois criamos uma entrada de conexão para utilizar suas funcionalidades.

In [ ]:
spark = SparkSession.builder.appName("Introdução ao Pyspark").getOrCreate()

Criando um DataFrame simples a partir de uma lista de nomes.

In [ ]:
# Lista de nomes

dados = [("Alice",25,"F"),("Bob",23,"M"),("Cathy",22,"F"),("David",25,"M"),("Eve",29,"F")] # Criando uma listade valores

# Criando DataFrame
df = spark.createDataFrame(dados,["Nome","Idade","Genero"])

#Exibindo o DataFrame para visualizar as informações
df.show()

+-----+-----+------+
| Nome|Idade|Genero|
+-----+-----+------+
|Alice|   25|     F|
|  Bob|   23|     M|
|Cathy|   22|     F|
|David|   25|     M|
|  Eve|   29|     F|
+-----+-----+------+

Contando o número de nomes presentes dentro do DataFrame.

In [ ]:
total_nomes = df.count()
print(f"Total de Nomes: {total_nomes}")
print("Total de nomes" ,total_nomes)

Total de Nomes: 5
Total de nomes 5

Filtrando nomes que começem com letra A.

In [ ]:
nomes_com_a = df.filter(df.Nome.startswith("A"))
nomes_com_a.show()

+-----+-----+------+
| Nome|Idade|Genero|
+-----+-----+------+
|Alice|   25|     F|
+-----+-----+------+

Finalizando a sessão

In [ ]:
spark.stop()