In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
# Caminho para o arquivo da análise
path = r'C:\Users\Lucas-PC\Desktop\Projeto 6\data\raw\acidentes2024_todas_causas_tipos_vs2.csv'

# Criado a função createDataFrame para usar o DataFrame
def createDataFrame() -> pd.DataFrame:
    data = pd.read_csv(path, delimiter=';', low_memory=False, encoding='UTF-8', dtype=str)
    df = pd.DataFrame(data)
    
    #Removi as colunas latitude, longitude, regional, delegacia, uop, pois não considero importante para minha análise.
    df.drop(columns=['latitude','longitude','regional','delegacia','uop'],inplace=True) 
    
    return df

In [ ]:
# Armazenando a função createDataFrame na váriavel df.
df = createDataFrame()

In [8]:
# Código para ver o schema do DataFrame
#df.info()

In [9]:
# Visualização dos 5 primeiros registros.
df.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,...,marca,ano_fabricacao_veiculo,tipo_envolvido,estado_fisico,idade,sexo,ilesos,feridos_leves,feridos_graves,mortos
0,571772,1268971,01/01/2024,segunda-feira,00:05:00,RJ,101,"272,5",TANGUA,Sim,...,HONDA/CG 160 FAN,2023,Condutor,Óbito,26,Masculino,0,0,0,1
1,571774,1268985,01/01/2024,segunda-feira,00:05:00,GO,153,"424,6",ANAPOLIS,Não,...,VW/GOL 1.6 POWER,2009,Condutor,Ileso,34,Feminino,1,0,0,0
2,571774,1268985,01/01/2024,segunda-feira,00:05:00,GO,153,"424,6",ANAPOLIS,Sim,...,VW/GOL 1.6 POWER,2009,Condutor,Ileso,34,Feminino,1,0,0,0
3,571777,1269020,01/01/2024,segunda-feira,01:45:00,ES,101,"264,1",SERRA,Sim,...,VW/SAVEIRO 1.6,2009,Condutor,Ileso,55,Masculino,1,0,0,0
4,571778,1269028,01/01/2024,segunda-feira,00:45:00,SC,101,110,PENHA,Não,...,I/SSANGYONG ACTYON A23 4,2011,Condutor,Ileso,53,Masculino,1,0,0,0

In [ ]:
# Pesquisando por tipo_envolvido, para se ter uma visão mais amplas sobre os dados nullos.
df[df['tipo_envolvido'].isna()].sample(5)

In [ ]:
# Filtrei por alguns Ids, pois a cada vez que verificava, tinha-se muitos ids com multiplos registros.
df[df['id']== '661121']

In [ ]:
# Selecionei a coluna tipo_envolvido, para saber os valores que nela continha e qual a relação com o tipo_veiculo, após a análise superficial acima.
df['tipo_envolvido'].unique()

In [ ]:
# Tive uma dúvida em relação a tipo_envolvido e tipo_veiculo = Semireboque, então usei os códigos abaixos para saber se todo tipo_veiculo = Semireboque tinha o valor NaN.
df[df['tipo_veiculo'] == 'Semireboque']['tipo_envolvido'].isna().all()

In [ ]:
#Mostra quantos registros em cada coluna, tem o valor Null
df.isnull().sum()

In [ ]:
#Média em porcentagem, para saber quantos valores são nullos
df.isnull().mean() * 100

Começando a tratar alguns valores null

In [ ]:
# Verificação da coluna KM, pois mesmo com análise interior, não fazia sentido alguns dados nesse arquivo, como KM = 424,6 
df[['km']]
df['km'].unique()
#Ao verificar e pesquisar um pouco, descobri que a coluna KM se trata do kilometro e não da velocidade ao qual o(s) condutor(es) estavam.

In [ ]:
# Média de acidentes por estado (com todos os dados)
media_completa = df.groupby('uf').size().mean()
print(media_completa)

In [ ]:
# Convertendo KM para tipo númerico, para fazer a média
df['km'] = pd.to_numeric(df['km'], errors='coerce') # coerce é para que se a conversão não for bem sucedida, ele retornarar NaN
df_validos = df[df['km'].notnull()]

In [ ]:
# Média por estado com dados válidos
media_filtrada = df_validos.groupby('uf').size().mean()

In [ ]:
# Cálculando a variancia, para saber se a tabela está usável depois das dúvidas
variancia = media_completa - media_filtrada
print(f"Variação entre as médias: {variancia:.2f}")

In [ ]:
# Além da variação extremamente alta, há muitos registros em um único id
df['id'].value_counts().head(10)